block content  

    section.hero
            .hero-body
                .container
                        h2.title.is-2 Liste des catégories
                        ul
                            each category in categories
                                li
                                    a(href="/category/"+category.data.slug)!=category.data.name
