
nav.pagination.is-centered
     a(href="#").pagination-previous Previous
     a(href="#").pagination-next Next
     
     ul.pagination-list
          li
               a(href="#").pagination-link 1
          li
               a(href="#").pagination-link 2
          li
               a(href="#").pagination-link 3
