.is-4.column
	.card
		.card-image
			figure.image.is-4by3
				img(src=""+article.data.medias[0].url, alt='Placeholder image')
		.card-content
			.media
				.media-left
					figure.image.is-48x48
						img(src=""+article.data.image_auteur[0].url, alt='Placeholder image')
				.media-content
					p.title.is-4
						a.target(href="/content/"+article.data.slug)!= article.data.title
					p.subtitle.is-6 #{article.data.collaborators}
			.content
				p!=article.data.content
				if article.data.categories
					each category in article.data.categories
						a(href='#')
							span # 
							!=category
				br
				time(datetime='2016-1-1')!=article.data.date_publish
