extends layout

block content                    
          
     section#single.hero
          .hero-body
               .container
                   .media
                       .media-left
                           figure
                               img(src=""+datas.fields.image_auteur[0].url, alt='Placeholder image')
                       .media-content
                            h1.title.is-1 #{datas.fields.title}
                            h2.subtitle Un article de #{datas.fields.collaborators}
                   figure.image.article-image.image.is-4by3
                        img(src=""+datas.fields.medias[0].url, alt='Placeholder image')

     main.container
        p #{datas.fields.content}
               
     section.section
          .container
              a(href="../") Retour à l'accueil
