extends layout

block content
     section.section
          .container
               h1.title.is-1 Oops !
               h2.title.is-2 #{message}
               h3.subtitle #{error.status}
               pre #{error.stack}
     
     section.section
          .container
               a(href="../") Retour à l'accueil
