extends layout

block content               
     
     section.hero#home-title
          .hero-body
               .container
                    h1.title.is-1 #{title} 🚀
                    h2.subtitle Welcome to #{title}
                    
     section.hero
          .hero-body
               .container
                    h2.title.is-2.target Liste des catégories
                    ul
                         each category in categories
                              li
                                   a #{category}

     main.container
          section.section
               .container
                    h2.title.is-2 Liste des articles
                    .columns.is-multiline
                         each article in datas
                              include components/preview.jade
                         
          section.section
               .container
                    include components/pagination.jade
                    
     script(type='text/javascript' src="/js/main.js")
