html  
 head
    title!= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css")
    link(rel="stylesheet", href="/css/style.css") 
    block head
 body

block content

    include components/header.pug
    
    include components/category.pug
    
    main.container
        section.columns.is-multiline
            each article in articles
                include components/preview.pug
              
block footer
    include components/footer.pug
