section.hero
        .hero-body
            .container
                h1.title Liste des catégories
                nav
                    each article in articles
                        if article.fields.categories
                            each category in article.fields.categories
                                a(href="/articles/"+category)!=category