footer.footer
    div.container
        div.content.has-text-centered
            p 
                strong Node CMS 
                | by 
                a(href="#") M1 Dév 
                | from 
                a(href="#") ECV Digital Bordeaux 
                | | © Copyright 2017/2018 - Tous droits réservés