@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');

.articles-container {
    padding-top: 25px;
}

/*TITLE*/

#home-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;
    text-align: center;

    background: linear-gradient(279deg, #14b78d, #1479b7);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

#home-title h2 {
    color: white;
}

h1.title {
    font-family: 'Montserrat';
    font-weight: bold;
    color: white
}


h1.title::first-letter {
    font-size: 68px;
    margin-right: 3px;
    color: lightblue;
}

.title a {
    color: lightblue;
}

.title a:hover {
    color: darkslateblue;
}

/*CARD*/
.card {
    border-radius: 6px;
    overflow: hidden;
}

.card .content a {
    margin-right: 10px;
    color: lightcoral;
}

.card .content p {
    height: auto;
    height: 3.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    position: relative;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
    padding: 0;
    display: -webkit-box;
}

.card .media img{
    height: 48px;
    width: 48px;
}

.card .content a:hover {
    color: coral; text-align: center;
}

/*Single Style*/
#single figure.article-image {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

#single .hero-body {
    padding-bottom: 20px;
}

#single h1, #single h2{
    color: #333333;
}

#single img {
    height: auto;
}

#single .media {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#single .media img {
    height: 80px;
    width: 80px;
    max-width: 80px;
    margin-right: 20px;
}
